html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(3, 2, 22);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: "DM sans", sans-serif;
}

.app-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}