.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: rgb(3, 2, 22);
    position: relative;
    max-width: 1050px;
    margin: auto;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;
        display: flex; 
        align-items: center; 
        justify-content: space-between; 

        .textContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            max-width: 380px;

            h2 {
                font-size: 30px;
                color: white;
            }
            h1 {
                color: rgb(67, 236, 174);
                font-size: 45px;
                font-weight: bolder;
            }
            span {
                color: white;
                font-size: 22px;
            }

            .buttons {
                display: flex;
                gap: 20px;

                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: 300;
                }
                .resume {
                    background-color: rgb(49, 214, 154);
                    font-weight: 500;
                }
            }
        }

        .imageContainer {
            height: 100%;
            display: flex;
            align-items: center; 
            justify-content: center; 

            img {
                max-height: 450px;
                max-width: 350px; 
                object-fit: contain; 
            }
        }
    }
}
