@import "../app.scss";

.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include SmallTablet {
    gap: 0;
  }

  .progress {
    text-align: center;
    color: rgb(49, 214, 154);
    font-size: 45px;

    @include MidTablet {
      font-size: 30px;
    }
    @include SmallMobile {
      padding-top: 80px;
    }

    .progressBar {
      background-color: white;
      height: 5px;
      border-radius: 20px;
      width: 60%;
      margin: auto;

      @include mobile {
        width: 80%;
      }
      @include SmallMobile {
        width: 90%;
      }
    }
  }

  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper1 {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;

      @include SmallTablet {
        flex-direction: column;
        padding-top: 100px;
      }

      .imageContainer1 {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 50%;
          height: auto;
          object-fit: contain;

          @include MidTablet {
            width: 60%;
          }

          @include SmallTablet {
            width: 70%;
          }

          @include mobile {
            width: 80%;
          }

          @include SmallMobile {
            width: 90%;
          }
        }
      }

      .textContainer1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include SmallTablet {
          padding-top: 50px;
          align-items: center;
          max-width: 80%;
        }

        h2 {
          font-size: 54px;
          color: rgb(49, 214, 154);

          @include SmallTablet {
            font-size: 40px;
          }

          @include SmallTablet {
            font-size: 35px;
            align-items: center;
            justify-content: center;
          }

          @include mobile {
            font-size: 30px;
          }

          @include SmallMobile {
            font-size: 25px;
          }
        }

        p {
          font-size: 20px;
          color: gray;

          @include MidTablet {
            font-size: 15px;
          }

          @include SmallTablet {
            font-size: 20px;
          }
          @include mobile {
            font-size: 20px;
          }
        }

        button {
          border-radius: 10px;
          border-color: white;
          
          font-size: 20px;
          font-weight: 400;
          padding: 10px;
          color: white;
          background-color: black;
          width: 200px;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            border-color: rgb(49, 214, 154);
            border-style: double;
            transform: scale(1.02);
            color: rgb(49, 214, 154);
          }

          @include MidTablet {
            width: 180px;
            font-size: 18px;
          }

          @include SmallTablet {
            width: 160px;
            font-size: 16px;
          }

          @include mobile {
            width: 140px;
            font-size: 14px;
          }

          @include SmallMobile {
            width: 120px;
            font-size: 12px;
          }
        }
      }
    }
  }
}