@import "../app.scss";

.portfolio {

  .container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper3 {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;

      @include SmallTablet {
        flex-direction: column;
        margin-top: 100px;
        gap: 40px;
      }

      .imageContainer3 {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: auto; 
          max-width: 100%; 
          height: auto; 
          max-height: 70vh; 

          @include MidTablet {
            max-height: 60vh;
          }

          @include SmallMobile {
            max-height: 50vh;
          }
        }
      }

      .textContainer3 {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include SmallTablet {
          align-items: center;
        }

        h2 {
          font-size: 54px;
          color: rgb(49, 214, 154);

          @include MidTablet {
            font-size: 40px;
          }

          @include SmallTablet {
            font-size: 35px;
          }

          @include mobile {
            font-size: 30px;
          }

          @include SmallMobile {
            font-size: 25px;
          }
        }

        p {
          font-size: 20px;
          color: gray;

          @include MidTablet {
            font-size: 15px;
          }

          @include SmallTablet {
            font-size: 14px;
          }

          @include mobile {
            font-size: 13px;
          }

          @include SmallMobile {
            font-size: 12px;
          }
        }

        button {
          border-radius: 10px;
          border: none;
          background-color: white;
          font-size: 20px;
          font-weight: 400;
          padding: 10px;
          color: black;
          width: 200px;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            background-color: rgb(49, 214, 154);
            transform: scale(1.02);
            color: white;
          }

          @include MidTablet {
            width: 180px;
            font-size: 18px;
          }

          @include SmallTablet {
            width: 160px;
            font-size: 16px;
          }

          @include mobile {
            width: 140px;
            font-size: 14px;
          }

          @include SmallMobile {
            width: 120px;
            font-size: 12px;
          }
        }
      }
    }
  }
}